<section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="mt-4 text-white">La malnutrition, les PVVIH et les enfants : ce que risque Haïti face à la Covid-19
                        La malnutrition est un état caractéri</h1>


                    <p class="lead text-white">
                        by Alex Micheal
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container p-t-b-80">

        <div class="row">

            <div class="col-lg-8">

                <!-- Post Content -->
                <p class="lead">4,1 millions d'Haïtiens risquent de se retrouver en situation de crise alimentaire de la
                    période allant de mars à juin 2020, avait prévenu le Programme alimentaire mondial (PAM) dans un rapport
                    publié en avril 2020. En 2019, la malnutrition aiguë avait touché par moins de 65 500 enfants de moins de 5
                    ans dans les zones touchées par la sécheresse.
                </p>

                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

                <p>Avec des cas de Covid-19 qui augmentent quotidiennement,
                    quel serait l'impact de cette insécurité alimentaire sur la population haïtienne? Face à cette inquiétude,
                    le Dr Jean Gabriel Balan, expert en nutrition et professeur à l'Université d'État d'Haïti, conseille à la
                    population et aux autorités de redoubler d'efforts.</p>

                <p>
                    La malnutrition est un état caractérisé par les carences, les excès ou les déséquilibres dans l’apport
                    énergétique et/ou nutritionnel d’une personne. De cette définition, le Dr Jean Gabriel Balan,
                    dans une entrevue exclusive accordée au quotidien Le Nouvelliste, note qu'il en découle deux groupes
                    d'affections : la dénutrition, d'un côté, et, de l'autre côté, le surpoids, l'obésité et les maladies
                    non transmissibles liées à l'alimentation.
                </p>

                <p>
                    S'agissant du surpoids, de l'obésité et des maladies non transmissibles, les données épidémiologiques ont
                    établi les impacts néfastes de la Covid-19 sur cette catégorie, notamment dans les pays développés.
                </p>

                <p>
                    Face à la menace imminente du grand nombre d'Haïtiens qui risquent de se retrouver en situation d'insécurité
                    alimentaire, les cas de malnutrition aiguë par carence (dénutrition) qui vont inextricablement suivre la
                    même courbe sont en passe de devenir l'un des groupes les plus à risque dans le cadre de cette pandémie.
                </p>

                <p>
                    "Quand le corps est attaqué par une infection comme la Covid-19, l'organisme produit des anticorps pour se
                    défendre. Cela explique pourquoi certaines infections attaquent le plus souvent ceux qui ont un système
                    immunitaire faible. Avec la malnutrition par insuffisance d'apport, le corps va se retrouver dans
                    l'impossibilité de produire les protéines dont il a besoin pour se défendre, et la Covid-19 pourra faire
                    beaucoup de dégâts dans ce cas", relate le Dr Jean Gabriel Balan, pédiatre, expert en nutrition et en
                    pathologies infectieuses.
                </p>

                <p>
                    "D'une relation de cause à effet, la Covid-19 aura de graves impacts sur les dénutris", estime le Dr Balan
                    qui a dirigé des travaux sur le sujet.
                </p>

                <p>
                    Par ailleurs, il admet que nous aurons du mal à répondre convenablement aux dégâts causés par la Covid-19
                    sur les dénutris. Le médecin croit que "les programmes de lutte contre la malnutrition ne peuvent être
                    élaborés du jour au lendemain".
                </p>

                    <h3>Les PVVIH doublement affectées par cette pandémie</h3>

                <p>
                    Les personnes vivant avec le VIH (PVVIH) qui ne prennent par leurs médicaments représentent un groupe à
                    risque de premier plan face à la pandémie Covid-19 parce que "le VIH tend à entraîner une immunodéficience
                    empêchant à l'organisme de se défendre normalement face au SARS-COV-2."
                </p>



                <hr>

                <!-- Comments Form -->
                <div class="card my-5 mb-5">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-gradient">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 w-10 rounded-circle" src="./assets/images/landing/faces/15.jpg" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Jhon Doe</h5>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, tenetur. Repellat a quaerat culpa illo excepturi. Dignissimos, officia eum! Architecto dolores porro dolor delectus corrupti earum nesciunt sapiente aliquam dignissimos?
                    </div>
                </div>

                <!-- Comment with nested comments -->
                <div class="media">
                    <img class="d-flex mr-3 w-10 rounded-circle" src="./assets/images/landing/faces/13.jpg" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Alex Petro</h5>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, tenetur. Repellat a quaerat culpa illo excepturi. Dignissimos, officia eum! Architecto dolores porro dolor delectus corrupti earum nesciunt sapiente aliquam dignissimos?

                        <div class="media mt-4">
                            <img class="d-flex mr-3 w-10 rounded-circle" src="./assets/images/landing/faces/12.jpg" alt="">
                            <div class="media-body">
                                <h5 class="mt-0"> Jassica Pearl</h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, tenetur. Repellat a quaerat culpa illo excepturi. Dignissimos, officia eum! Architecto dolores porro dolor delectus corrupti earum nesciunt sapiente aliquam dignissimos?
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 w-10 rounded-circle" src="./assets/images/landing/faces/5.jpg" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Micheal Clark</h5>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, tenetur. Repellat a quaerat culpa illo excepturi. Dignissimos, officia eum! Architecto dolores porro dolor delectus corrupti earum nesciunt sapiente aliquam dignissimos?
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- end of col-8 -->
            <div class="col-md-4">


                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control rounded-pill" placeholder="Search for...">
                            <span class="input-group-btn ml-2">
              <button class="btn  btn-gradient" type="button">Search</button>
            </span>
                        </div>
                    </div>
                </div>
                <!-- end of card widget -->


                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Technology</a>
                                    </li>
                                    <li>
                                        <a href="#">Sports</a>
                                    </li>
                                    <li>
                                        <a href="#">Media</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Life Style</a>
                                    </li>
                                    <li>
                                        <a href="#">Movies</a>
                                    </li>
                                    <li>
                                        <a href="#">Drama</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of card widget -->


                <div class="card my-4">
                    <h5 class="card-header">Sidebar Content</h5>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolorem minima debitis beatae, recusandae similique quibusdam, sint tenetur blanditiis quia at, itaque reprehenderit eaque. Veritatis repellat ad modi corrupti ab?
                    </div>
                </div>
                <!-- end of card widget -->

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</section>
