<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">A propos de nous</h2>
                <p>Le Centre Haïtien pour le Renforcement du Système de Santé (CHARESS), partenaire privilégié de l’International
                    Training and Education Center for Health (I-TECH) qui est une collaboration entre l'Université de Washington
                    et l'Université de Californie à San Francisco. C’est un centre du Département de santé mondiale de
                    l'Université de Washington (WU) et qui a des bureaux en Afrique, en Asie et dans les Caraïbes. CHARESS en
                    partenariat avec le ministère de la santé publique et de la population (MSPP), les universités, les
                    organisations non gouvernementales (ONG) et d'autres organisations supporte le développement d'une
                    main-d'œuvre sanitaire qualifiée et de systèmes nationaux de santé bien organisés.</p>
            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row">


                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Suivi du temps</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-shopping-bag-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Rapports</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>

                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-people-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Contracts</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing .</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                </div>

            </div>
            <!-- end of col-6 -->
            <div class="col-md-12 col-sm-12 col-lg-5 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">
            </div>

        </div>
    </div>
</section>
